<nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-fixed-top">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
            </li>
            <li class = "nav-item">
                <a class="nav-link"routerLink="/productos" routerLinkActive="active">Productos</a>
            </li>
            <li class = "nav-item">
                <a class="nav-link"routerLink="/about" routerLinkActive="active">About</a>
            </li>
        </ul>
    </div>
</nav>
