<div class="row" id="grid">
    <div class="col-12">
        <div class="row">
             <div class="col-sm inner">Usuario: </div>
             <div class="col-sm inner">Nombre: </div>
             <div class="col-sm inner">Apellido: </div>
             <div class="col-sm inner">Correo: </div>
             <div class="col-sm ">Actions:</div>
        </div>
        <div *ngFor="let user of users">
            <div class="row" >
                <div class="col-sm inner"> {{user.id}}</div>
                <div class="col-sm inner"> {{user.name}}</div>
                <div class="col-sm inner"> {{user.lastName}}</div>
                <div class="col-sm inner"> {{user.email}}</div>
                <div class="col-sm  actions">
                    <button type="button" class="btn btn-primary" (click)="edit(user)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="delete(user)"><span *ngIf="isDeleting">...</span><span *ngIf="!isDeleting">Eliminar</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
