.actions {
    margin-top: 8px;
    margin-bottom: 5px;
}

.actions button{
    width: 85px;
    margin-right: 2px;
}
.col-sm{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 8px;

}

.inner {
  border-right: 1px solid #c9c9c9;;
}


#grid .row {
  border: 1px solid #c9c9c9;
}

.deleting {
    position: relative;
}

.deleting::after {
    content:"deleting...";
    padding-top: 6%;
    color:white;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}