<div class="usuario">
    <div class="page-title row">
        <h2 class="col-5">Usuarios</h2>
    </div>
    <div class="products row">
        <ul class="col-12">
            <li class="row usuario-display">
                <app-user-display [users]='users' 
                (deleteUser)="deleteUser($event)" 
                (editUser)="editUser($event)" class="col-12 card">
                </app-user-display>
            </li>
        </ul>
        <ul class = "col-4 offset-1">
            
        </ul>
</div>
